<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">DoogyStyle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
            <div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'home' %} active {% endif %}"
                           href="{{ path('home') }}">Index</a>
                    </li>
                    <li class="nav-item"><a
                                class="nav-link {% if app.request.get('_route') == 'announce_index' %} active {% endif %}"
                                href="{{ path('announce_index') }}">Liste annonces</a>
                    </li>
                    <li class="nav-item"><a
                                class="nav-link {% if app.request.get('_route') == 'contact' %} active {% endif %}"
                                href="{{ path('contact-new') }}">Contact</a>
                    </li>
                    <li class="nav-item"><a
                                class="nav-link {% if app.request.get('_route') == 'conditions' %} active {% endif %}"
                                href="{{ path('conditions') }}">Conditions adoptions</a>
                    </li>
                    <li class="nav-item"><a
                                class="nav-link {% if app.request.get('_route') == 'new-dog' %} active {% endif %}"
                                href="{{ path('new-dog') }}">Creer un chien</a>
                    </li>
                </ul>
            </div>
            <div>
                {% if app.user %}
                    <div>
                        Bonjour {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% if app.user.roles is defined %}
                        <div>
                            {% for role in app.user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <li>
                                        <a class="nav-link"
                                           href="{{ path('admin') }}">Panneau administrateur</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% else %}

                    <ul class="navbar-nav mr-auto">
                        <li><a class="nav-link {% if app.request.get('_route') == 'login' %} active {% endif %}"
                               href="{{ path('app_login') }}">Login</a></li>
                        <li><a class="nav-link {% if app.request.get('_route') == 'register' %} active {% endif %}"
                               href="{{ path('app_register') }}">Register</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
