{% extends 'base.html.twig' %}

{% block title %}Doggy style{% endblock %}

{% block body %}
    <section class="container d-flex justify-content-center">
        <div class="card m-5 text-center" style="width: 18rem;">
            <div class="card-body">
                <h1>CONDITIONS ADOPTION</h1>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab corporis dicta
                    doloribus eius, et, harum iste iure magni molestiae necessitatibus omnis quae quod saepe voluptatem?
                    Accusamus alias eveniet voluptatem!</p>
            </div>
        </div>
    </section>
{% endblock %}
