{% extends 'base.html.twig' %}

{% block title %}Doggy style{% endblock %}

{% block body %}
    <section class="container">
        {% for message in app.flashes('success') %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-success" role="alert" size="200px">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {# On affiche la balise <form> #}
        {{ form_start(form) }}
        {# On affiche une "row" de notre formulaire, c'est à dire un bloc qui va contenir le label (balise label) et le widget (ici un champ input de type text) #}
        {# On ajoute des attributs sur la div, sur le widget et sur le label #}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        {{ form_row(form.announce) }}

        {# On affiche les éventuels champs qui n'aurait pas été affichés jusqu'ici #}
        {{ form_rest(form) }}
        {# On ajoute un bouton de validation du formulaire, nous n'en avons pas mis dans notre objet TagType #}
        <button type="submit" class="btn btn-primary my-3">Valider</button>
        {# On affiche la balise </form> et les éventuels champs qui n'aurait pas été affichés jusqu'ici #}
        {{ form_end(form) }}
    </section>
{% endblock %}
