{% extends 'base.html.twig' %}

{% block title %}Doggy style{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Page d'accueil du pas très joli site !</h1>
        <div class="row">
            {% for annonce in announces %}
                {% if annonce.isFeeded == false %}
                    <section class="container d-flex justify-content-center col-3">
                        <div class="card my-5" style="width: 18rem;">
                            <div class="card-body">
                                <h1>{{ annonce.title }}</h1>
                                {% for dog in annonce.dogs %}
                                    <h3>
                                        {{ dog.name }}
                                    </h3>
                                    <p>
                                        {% for breed in dog.breeds %}
                                            {{ breed.name }}
                                        {% endfor %}
                                    </p>
                                    <div>
                                        {% for key, picture in dog.pictures %}
                                            {% if key == 0 %}
                                                <img style="width: 200px" src="{{ picture.link }}" alt="">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-dark mx-5 mb-5">
                                <a style="color: inherit; text-decoration: none"
                                   href="{{ path('announce_show', {id: annonce.id}) }}">Détails</a>
                            </button>
                        </div>
                    </section>
                {% else %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
