<form method="post" action="{{ path('announce_delete', {'id': announce.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announce.id) }}">
    <button class="btn">Delete</button>
</form>
