{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isFeeded) }}
    {{ form_row(form.dogs) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
