{% extends 'base.html.twig' %}

{% block title %}Announce index{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Liste des annonces</h1>
        <div class="row">
            {% for annonce in announces %}
                <section class="col">
                    <div class="card my-3 text-center" style="width: 18rem;">
                        <div class="card-body">
                            <h1>{{ annonce.title }}</h1>
                            {% for dog in annonce.dogs %}
                                <h3>
                                    {{ dog.name }}
                                </h3>
                                <p>
                                    {% for breed in dog.breeds %}
                                        {{ breed.name }}
                                    {% endfor %}
                                </p>
                                <div>
                                    {% for key, picture in dog.pictures %}
                                        {% if key == 0 %}
                                            <img style="width: 200px" src="{{ picture.link }}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <button class="btn btn-dark mx-5 mb-5">
                            <a style="color: inherit; text-decoration: none"
                               href="{{ path('announce_show', {id: annonce.id}) }}">Détails</a>
                        </button>
                    </div>
                </section>
            {% endfor %}
        </div>

        <button class="btn btn-dark mx-5 mb-5">
            <a href="{{ path('announce_new') }}">Create new</a>
        </button>
    </div>
{% endblock %}
