{% extends 'base.html.twig' %}

{% block title %}New Announce{% endblock %}

{% block body %}
    <div class="container">
        <div class="w-50 mx-auto">
            <h1>Create new Announce</h1>

            {{ include('announce/_form.html.twig') }}

            <a href="{{ path('announce_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
