{% extends 'base.html.twig' %}

{% block title %}Announce{% endblock %}

{% block body %}
    <section class="container d-flex justify-content-center">
        <div class="card m-5">
            <div class="card-body">
                <h1 class="text-center">{{ announce.title }}</h1>
                <p>{{ announce.description | raw }}</p>
            </div>
            {% if announce.isFeeded == false %}
                {% for dog in announce.dogs %}
                    <div class="card m-5">
                        <div class="card-body">
                            <h3>
                                {{ dog.name }}
                            </h3>
                            {% if dog.isAdopted == false %}
                                <h4>A Adopter</h4>
                            {% else %}
                                <h4>Adopté!</h4>
                            {% endif %}
                            <p>
                                {% for breed in dog.breeds %}
                                    {{ breed.name }}
                                {% endfor %}
                            </p>
                            <p>
                                {{ dog.birthDate | date("d/m/Y") }}
                            </p>
                            <p>
                                {{ dog.description }}
                            </p>
                            <div class="d-flex justify-content-around">
                                {% for picture in dog.pictures %}
                                    <div class="d-flex justify-content-around">
                                        <img style="width: 200px;" src="{{ picture.link }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% if dog.isAdopted == false %}
                            <div>
                                <button class="btn btn-success">
                                    <a style="text-decoration: none; color: inherit;" href="{{ path('adopt', {'dog': dog
                                        .id,
                                        'announce':
                                        announce.id}) }}">Adopter ce
                                        chien!</a>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="card m-5 row">
                    <div class="card-body col mx-auto text-center">
                        <h1>Tous les chiens ont été adoptés!</h1>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>

    <a href="{{ path('announce_index') }}">back to list</a>

    <a href="{{ path('announce_edit', {'id': announce.id}) }}">edit</a>

    {{ include('announce/_delete_form.html.twig') }}
{% endblock %}
