{% extends 'base.html.twig' %}

{% block title %}Dog{% endblock %}

{% block body %}
    <div class="container">
        <h1>Dog</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dog.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ dog.name }}</td>
            </tr>
            <tr>
                <th>BirthDate</th>
                <td>{{ dog.birthDate ? dog.birthDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dog.description }}</td>
            </tr>
            <tr>
                <th>IsAdopted</th>
                <td>{{ dog.isAdopted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <td class="d-flex justify-content-around text-center">
                    {% for picture in dog.pictures %}
                        <div class="col-6">
                            {% if picture.link starts with 'http' %}
                                <img src="{{ picture.link }}" style="width : 400px" alt="">
                            {% else %}
                                <img src="{{ asset(vich_uploader_asset(picture)) }}" style="width : 400px" alt="">
                            {% endif %}
                        </div>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('dog_index') }}">back to list</a>

        <a href="{{ path('dog_edit', {'id': dog.id}) }}">edit</a>

        {{ include('dog/_delete_form.html.twig') }}
    </div>
{% endblock %}
